<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:backupAgent="com.meditationtracker.sync.backup.BackupAgent"

        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/launcher_48"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/mytheme"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="SettingsActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        </activity>
        <activity android:name="NewOrEditPracticeDBActivity" >
        </activity>
        <activity android:name="NewOrEditPracticeScreenActivity" >
        </activity>
        <activity android:name="PracticeActivity" >
        </activity>
        <activity android:name="ScheduleActivity" >
        </activity>
        <activity android:name="ImagePicker" >
        </activity>

        <provider
            android:name="PracticeImageProvider"
            android:authorities="com.meditationtracker.imageProvider" >
        </provider>

        <activity android:name="SessionActivity" >
        </activity>

    </application>

</manifest>